.Rproj.user
.Rhistory
.RData
.Ruserdata
Scripts/pedtools/*
*.e[0-9]*
*.o[0-9]*
BarleyNurseryAnalysis.Rproj
README.Rmd
Figures/*
Results/*
.Rproj.user/*
Scripts/presentation_figures.R
Scripts/analyze_pedigree_relationships.R
Scripts/data_exploration.R
Scripts/stability_analysis.R
